body,
body * {
  vertical-align: baseline;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 9pt;
  font-weight: 700;
}

.container {
  position: absolute;
  width: 300px;
  height: 250px;
  top: 0;
  left: 0;
  /* top: 100px;
  left: 200px; */
  z-index: 100;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #fbfbff;
  border: 1px #363636 solid;
  background-size: cover;
}

img {
  width: 100%;
  height: auto;
}

.el {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

.bg {
  background-color: #fafaff;
  width: 300px;
  height: 250px;
  filter: blur(0px);
}

.corner {
  width: 710px;
  left: -354px;
  top: 0px;
  /* left: 166px; */
}

#corner01 {
  width: 329px;
  left: 142px;
  top: 0px;
}

#txt01 {
  width: 155px;
  left: 15px;
  top: 113px;
}
#vitrum01 {
  width: 156px;
  left: 12px;
  top: 67px;
}
#line01 {
  background-color: #89CFF2;
  width: 150px;
  height: 2px;
  left: 17px;
  top: 99px;
}

#aqua01 {
  width: 54px;
  left: 198px;
  top: 8px;
  /* transform: rotate(-22deg) scale(1.2) translateX(-20px) translateY(-20px); */
  transform: rotate(-22deg);
}
#currant01 {
  width: 17px;
  left: 170px;
  top: 203px;
}
#vitality01 {
  width: 59px;
  left: 187px;
  top: 111px;
  transform: rotate(-17deg);
}
#raspberry01 {
  width: 16px;
  left: 192px;
  top: 94px;
  transform: rotate(7deg);
}
#raspberry02 {
  width: 18px;
  left: 211px;
  top: 227px;
  transform: rotate(-62deg);
}
#immune01 {
  width: 76px;
  left: 227px;
  top: 30px;
  transform: rotate(12deg);
}
#kids01 {
  width: 55px;
  left: 240px;
  top: 137px;
  transform: rotate(13deg);
}
#strawberry01 {
  width: 38px;
  left: 274px;
  top: 204px;
}


#txt02 {
  width: 134px;
  left: 146px;
  top: 51px;
}
#txt03 {
  width: 95px;
  left: 172px;
  top: 51px;
}
#txt04 {
  width: 133px;
  left: 153px;
  top: 41px;
}
#txt05 {
  width: 149px;
  left: 139px;
  top: 50px;
}

/* 01immune */
#pack02 {
  width: 81px;
  left: 183px;
  top: 101px;
}
/* pack_kids */
#pack03 {
  width: 71px;
  left: 188px;
  top: 102px;
}
/* 01vitality */
#pack04 {
  width: 71px;
  left: 188px;
  top: 101px;
}
/* aqua */
#pack05 {
  width: 69px;
  left: 189px;
  top: 101px;
}

#txt06 {
  width: 188px;
  left: 54px;
  top: 29px;
}
#vitrum02 {
  width: 202px;
  left: 46px;
  top: 67px;
}
#line02 {
  width: 204px;
  height: 2px;
  left: 46px;
  top: 108px;
  background-color: #49ABDC;
}
#tick {
  width: 503px;
  left: 0px;
  top: -323px;
}
#aqua06 {
  width: 60px;
  left: 218px;
  top: 126px;
}
#vitality06 {
  width: 61px;
  left: 20px;
  top: 126px;
}
#immune06 {
  width: 70px;
  left: 147px;
  top: 127px;
}
#kids06 {
  width: 62px;
  left: 85px;
  top: 127px;
}

#legal01 {
  width: 180px;
  left: 17px;
  top: 57px;
}
#legal02 {
  width: 176px;
  left: 17px;
  top: 207px;
}








#schirm {
  position: absolute;
  width: 300px;
  height: 250px;
  top: 0;
  left: 0;
  background-color: #fbfbff;
  background-size: cover;
  opacity: 1;
}
